# Important Points About Tuples in Python:

## Immutability:

Tuples are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed.

## Ordered Sequence:

Tuples are ordered, meaning the elements have a defined sequence, and you can access elements using indexing.

## Indexing and Slicing:

Like lists and strings, you can access tuple elements using indices and retrieve a subset of the tuple using slicing (tuple[start:end:step]).

## Heterogeneous Elements:

Tuples can contain elements of different data types, such as integers, floats, strings, and even other tuples (nested tuples).

## Tuples vs. Lists:

Tuples are often used to store data that should not be modified, while lists are used when the data may need to be changed.

## Tuple Methods:

Tuples have limited methods compared to lists. Key methods include count() (to count occurrences of an element) and index() (to find the index of an element).

## Packing and Unpacking:

Tuples can be packed by grouping multiple values together, and unpacked by assigning the tuple's elements to individual variables.

## Nested Tuples:

Tuples can contain other tuples, allowing for multi-level nesting.

## Concatenation and Repetition:

Tuples can be concatenated using the + operator and repeated using the * operator.

## Tuple Comprehension:

While tuples don't support comprehension directly, you can create a tuple from a list comprehension by converting the list to a tuple using tuple().

## Immutability Advantage:

Because tuples are immutable, they can be used as keys in dictionaries, unlike lists.

## Length of Tuple:

Use the len() function to find the number of elements in a tuple.

<h1 style="color:red;">Basic Tuple Operations</h1>

## Creating and Accessing Tuples:

```markdown
Create a tuple called colors containing "red", "green", and "blue". Then:
Access the first and last elements.
Try changing the second element to "yellow". What happens?
```

In [3]:
colors = ("red", "green", "blue")
print(f"First element: {colors[0]}")
print(f"Last element: {colors[-1]}")

First element: red
Last element: blue

In [4]:
colors = ("red", "green", "blue")

# changing second element to "yellow"
colors[1] = "yellow"
print(colors) # immutability example

TypeError: 'tuple' object does not support item assignment


## Indexing and Slicing:

```markdown
Given the tuple numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
Retrieve the first element.
Retrieve the last three elements using slicing.
Reverse the entire tuple using slicing.
```

In [10]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(f"First element: {numbers[0]}")
print(f"Last three elements: {numbers[-3::1]}")
print(f"Reversed tuple: {numbers[::-1]}")

First element: 1
Last three elements: (8, 9, 10)
Reversed tuple: (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)


## Tuple Methods:

```markdown
Given the tuple animals = ("cat", "dog", "rabbit", "dog", "hamster"):
Count how many times "dog" appears in the tuple.
Find the index of "rabbit" in the tuple.
```

In [13]:
animals = ("cat", "dog", "rabbit", "dog", "hamster")
numer_of_dogs = animals.count("dog")
print("Dogs have appeared {} times".format(numer_of_dogs))
print("Index of rabit is {}".format(animals.index("rabbit")))

Dogs have appeared 2 times
Index of rabit is 2


## Packing and Unpacking:

```markdown
Pack the values 5, 10, and 15 into a tuple called numbers. Then unpack them into three variables and print each variable.
```

In [17]:
numbers = (5,10,15)

# tuple unpacking
i,j,k = numbers

print(f"i={i}\nj={j}\nk={k}")

i=5
j=10
k=15


## Concatenation and Repetition:

```markdown
Concatenate the tuples (1, 2, 3) and (4, 5, 6).
Repeat the tuple ('a', 'b') four times.
```

In [18]:
tup_one = (1,2,3)
tup_two = (4,5,6)
tup_three = ('a','b')

concatinated_tup = tup_one + tup_two
print(f"Concatinated Tuple: {concatinated_tup}")

print(f"Repeating 4 time: {tup_three*4}")

Concatinated Tuple: (1, 2, 3, 4, 5, 6)
Repeating 4 time: ('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')


## Nested Tuples:

```markdown
Create a nested tuple to represent a 2x2 matrix and access the element at the second row, first column.
Create a tuple that contains a list and another tuple. Access the elements of the inner list and tuple.
```

In [20]:
matrix = ((1,2),(3,4))
matrix[1][0]

3

In [22]:
demo = ([1,2,3],(4,5,6))
print(demo[0][1])
print(demo[1][2])

2
6


## Tuple Length:

```markdown
Write a program to find the number of elements in the tuple ("apple", "banana", "cherry", "date", "elderberry").
```

In [23]:
fruits = ("apple", "banana", "cherry", "date", "elderberry")
print(f"The number of elements in fruits are: {len(fruits)}")

The number of elements in fruits are: 5


## Membership Testing:

```markdown
Check if the number 42 is present in the tuple (10, 20, 30, 40, 50).
Write a program to check if the string "grape" is not in the tuple ("apple", "banana", "cherry").
```

In [25]:
numbers = (10, 20, 30, 40, 50)
if 42 in numbers:
    print("42 is present in given tuple")
else:
    print("42 is not present in given tuple")

42 is present in given tuple

In [27]:
fruits = ("apple", "banana", "cherry")
# fruits = ("apple", "banana", "cherry", "grape")
if "grape" not in fruits:
    print("grape is not in the given tuple")
else:
    print("grape is in the given tuple")

grape is in the given tuple

<h1 style="color:red;">Intermediate Tuple Operations</h1>

## Using Tuples as Dictionary Keys:

```markdown
Create a dictionary where the keys are tuples representing coordinates (x, y) and the values are the names of places. Retrieve the name of the place at coordinate (2, 3).
```

## Sorting a List of Tuples:

```markdown
Given a list of tuples students = [("Alice", 23), ("Bob", 19), ("Charlie", 22)], sort the list by age.
```

## Tuple Comprehension:

```markdown
Create a tuple of squares of numbers from 1 to 5 using a list comprehension and converting it to a tuple.
```


## Tuples with Single Element:

```markdown
Create a tuple with a single element "Python". Verify its type and print it.
```

## Tuple Concatenation and Length:

```markdown
Concatenate two tuples (1, 2, 3) and (4, 5, 6), and find the length of the resulting tuple.
```

## Swapping Values:

```markdown
Use tuple packing and unpacking to swap the values of two variables without using a temporary variable.
```


## Converting List to Tuple:

```markdown
Write a program to convert the list ["a", "b", "c"] into a tuple.
```

## Maximum and Minimum in a Tuple:

```markdown
Find the maximum and minimum values in the tuple (4, 7, 2, 9, 1).
```

<h1 style="color:red;">Advanced Tuple Operations</h1>

## Iterating Over a Tuple:

```markdown
Iterate over the tuple ("apple", "banana", "cherry") and print each element in uppercase.
```


## Immutability Test:

```markdown
Try modifying a tuple directly by reassigning one of its elements. What happens? Why?
```


## Tuple of Tuples:

```markdown
Create a tuple of tuples where each inner tuple contains a person's name and their age. Access the age of the second person in the tuple.
```


## Tuple Indexing with Negative Indices:

```markdown
Use negative indices to access the second-to-last element in the tuple (1, 2, 3, 4, 5).
```


## Finding Common Elements:

```markdown
Given two tuples (1, 2, 3, 4, 5) and (4, 5, 6, 7, 8), write a program to find the common elements between them.
```


## Tuple and List Conversion:

```markdown
Write a program that converts a tuple of numbers (10, 20, 30) into a list, adds 40 to the list, and then converts it back to a tuple.
```


## Nested Tuple Operations:

```markdown
Create a nested tuple that represents a 3x3 matrix. Write a program to calculate the sum of all elements in the matrix.
```


## Zipping Tuples:

```markdown
Given two tuples ('a', 'b', 'c') and (1, 2, 3), use the zip() function to combine them into a tuple of pairs.
```

## Creating Tuples from Ranges:

```markdown
Write a program that creates a tuple containing all even numbers between 10 and 20.
```