# List Comprehensions

unique way of quickly creating a list with python

## Example 1

In [8]:
mystring = "hello"
mylist = [ ]

for letter in mystring:
    mylist.append(letter)
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [22]:
mystring = "hello"
mylist = [letter for letter in mystring]
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [24]:
mylist = [x for x in "hello"]
print(mylist)

['h', 'e', 'l', 'l', 'o']

## Example 2

In [25]:
lst = [1,2,3,4,5,6]

In [56]:
# square number
mylst = [ ]
for i in lst:
    a = (i**2)
    mylst.append(a)
print(mylst)

[0, 4, 16, 36, 64]

In [45]:
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Example 3

In [54]:
# even number
lst = [ ]
for i in range(0,10,2):
    lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [55]:
[ i for i in range(0,10,2)]

[0, 2, 4, 6, 8]

In [62]:
# even number
lst = [ ]
for i in range(0,10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [63]:
[ i for i in range(0,10) if i%2==0 ]

[0, 2, 4, 6, 8]

## Example 4
Can also do more complicated arithmetic:

In [73]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20,34.5]
list_conv = [ ]

for temp in celsius:
    x = (temp*9/5)+32
    list_conv.append(x)
print(list_conv)

[32.0, 50.0, 68.0, 94.1]

In [75]:
celsius = [0,10,20,34.5]

fahrenheit = [ (temp*9/5)+32 for temp in celsius ]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

## Example 5
Let's see how to add in <code>if...else</code> statements:

In [90]:
for i in [1,2,3,4,5,6,7,8,9]:
    if i%2==0:
        print(i)
    else:
        print("odd")

odd
2
odd
4
odd
6
odd
8
odd

In [84]:
[x if x%2==0 else 'ODD' for x in range(10)]

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

## Example 6
We can also perform nested list comprehensions, for example:

In [102]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
print(mylist)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [103]:
[ x*y for x in [2,3,6] for y in [1,10,100] ]

[2, 20, 200, 3, 30, 300, 6, 60, 600]

Later on in the course we will learn about generator comprehensions. After this lecture you should feel comfortable reading and writing basic list comprehensions.