# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include <b>strings, lists, tuples, and even built-in iterables for dictionaries</b>, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

In [4]:
my_list = [1,2,3,4,5]
for num in my_list:
    print(num)

1
2
3
4
5

In [7]:
my_list = [1,2,3,4]
for abc in my_list:
    print("Grusha")

Grusha
Grusha
Grusha
Grusha

### Modulo

The Moduo allows us to get the remainder in a division.

In [10]:
# 3 Remainder 2
17 % 5

2

In [11]:
# 3 Remainder 1
10 % 3

1

In [12]:
# 2 Remainder 4
18 % 7

4

In [22]:
# 2 no Remainder
4 % 2

0

## Even and Odd Numbers

In [27]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
#     if num%2 == 0:
        print(num)
#     else:
#         print("Odd number")

1
2
3
4
5
6
7
8
9
10

In [26]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num%2 == 0:
        print(num)
#     else:
#         print("Odd number")

2
4
6
8
10

In [36]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num%2 == 0:
        print(num)
    else:
        print("Odd number")

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

<b>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

In [38]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
#     if num%2 == 0:
        print(num)
#     else:
#         print("Even number")

1
2
3
4
5
6
7
8
9
10

In [40]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num%2 == 1:
        print(num)
#     else:
#         print("Even number")

1
3
5
7
9

In [54]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num%2 == 1:
        print(num)
    else:
        print("Even number")

1
Even number
3
Even number
5
Even number
7
Even number
9
Even number

In [64]:
# Final Program
my_list = [1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    if i%2==0:
        print("Even Numbers {}".format(i))
    else:
        print(f"Odd Numbers {i}")

Odd Numbers 1
Even Numbers 2
Odd Numbers 3
Even Numbers 4
Odd Numbers 5
Even Numbers 6
Odd Numbers 7
Even Numbers 8
Odd Numbers 9
Even Numbers 10

## Example

In [2]:
my_list = [1,2,3,4,5]

In [3]:
print(my_list[0]+my_list[1]+my_list[2]+my_list[3]+my_list[4])

15

What if there are <b>hundreds of thousands</b> numbers in that list, it is impossible to add all those

In [11]:
initial_num = 0
for i in my_list:
    initial_num = initial_num + i
    print(initial_num)

1
3
6
10
15

In [16]:
initial_num = 0
for i in my_list:
    initial_num = initial_num + i
print(f"Sum is: {initial_num}")

Sum is: 15

In [17]:
initial_num = 1
for i in my_list:
    initial_num = initial_num * i
    print(initial_num)

1
2
6
24
120

In [19]:
initial_num = 1
for i in my_list:
    initial_num = initial_num * i
print("Product is: {}".format(initial_num))

Product is: 120

## Example
Let's now look at how a <code>for</code> loop can be used with a string:

In [23]:
name = "Hello Aman Khadka"
for letter in name:
    print(letter)

H
e
l
l
o

A
m
a
n

K
h
a
d
k
a

In [24]:
for letter in "Hello Aman Khadka":
    print(letter)

H
e
l
l
o

A
m
a
n

K
h
a
d
k
a

In [36]:
# _ dummy variable / temporary variable
for _ in "Hello Grusha Bhattarai":
    print('Aman!')

Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!
Aman!

In [35]:
for _ in "Hello Grusha Bhattarai":
    print('Aman!', end=" ")

Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman! Aman!

## Example
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [41]:
my_tup = (1,2,3,4,5)
for i in my_tup:
    print(i)

1
2
3
4
5

In [42]:
my_list = [(1,2),(3,4),(5,6),(7,8)]

In [43]:
len(my_list)

4

In [44]:
for i in my_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [55]:
# Now with unpacking!

for n1,n2 in my_list:
    print(f"{n1}", end=" ")
print("\n")

for n1,n2 in my_list:
    print(n2)

1 3 5 7

2
4
6
8

In [58]:
my_list = [(1,2,10),(3,4,11),(5,6,12),(7,8,13)]

for a,b,c in my_list:
    print(f"{c}", end=" ")

10 11 12 13

## Example
Let's now look at how a <code>for</code> loop can be used with a dictionary:

In [90]:
my_dict = {"d1":5,"d2":3,"d3":1}

for item in my_dict:
    print(item)

d1
d2
d3

In [91]:
my_dict = {"d1":1,"d2":2,"d3":3}

for item in my_dict.keys():
    print(item)

d1
d2
d3

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In [94]:
my_dict = {"d1":5,"d2":3,"d3":1}

my_dict.items()

dict_items([('d1', 5), ('d2', 3), ('d3', 1)])

In [95]:
# Dictionary unpacking

for k,v in my_dict.items():
    print(k)
    print(v)

d1
5
d2
3
d3
1

In [96]:
sorted(my_dict.values())

[1, 3, 5]

In [63]:
my_dict = {"d1":1,"d2":2,"d3":3}

for item in my_dict.items():
    print(item)

('d1', 1)
('d2', 2)
('d3', 3)

In [97]:
my_dict = {"d1":1,"d2":2,"d3":3}

for item in my_dict.keys():
    print(item)

d1
d2
d3

In [62]:
my_dict = {"d1":1,"d2":2,"d3":3}

for item in my_dict.values():
    print(item)

1
2
3

# Conclusion

We've learned how to use loops to iterate through tuples, lists, string and dictionaries.

[More resources](http://www.tutorialspoint.com/python/python_for_loop.htm)