# Function with Logic

### Check if a number is even

In [11]:
def even_check(number):
    return number % 2 == 0

In [12]:
even_check(20)

True

In [13]:
even_check(21)

False

### Check if any number in  a list is even

In [38]:
def check_even_list(lst):
    for num in lst:
        if num%2 == 0:
            return True
        else:
            pass

** Is this enough? NO! We're not returning anything if they are all odds!**

In [39]:
check_even_list([1,3,5,7,9])

In [40]:
check_even_list([1,2,3,5,7])

True

** VERY COMMON MISTAKE!! LET'S SEE A COMMON LOGIC ERROR, NOTE THIS IS WRONG!!!**

In [42]:
def check_even_list(lst):
    for num in lst:
        if num%2 == 0:
            return True
        else:
            return False # Wrong !!

In [43]:
check_even_list([1,3,5,7])

False

In [44]:
check_even_list([1,2,5,7])

False

** Correct Approach: We need to initiate a return False AFTER running through the entire loop**

In [45]:
def check_even_list(lst):
    for num in lst:
        if num%2 == 0:
            return True # return value to function
        else:
            pass
    return False # Right

In [48]:
check_even_list([1,3,5])

False

In [49]:
check_even_list([1,2,3,5,7])

True

### Return all even numbers in a list

In [64]:
def check_even_list(num_list):
    even_numbers = [ ]
    for num in num_list:
        if num%2==0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [65]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

### Return all odd numbers in a list

In [72]:
def check_odd_list(num_list):
    odd_num = []
    for i in num_list:
        if i%2==1:
            odd_num.append(i)
        else:
            pass
    return odd_num

In [73]:
check_odd_list([1,2,3,4,5,6,7,8])

[1, 3, 5, 7]

In [94]:
check_odd_list([1,2,3,4,5,6,7,8])

# Tuple Unpacking

In [117]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [118]:
for i in stock_prices:
    print(i)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [120]:
for i,j in stock_prices:
    print(i)

APPL
GOOG
MSFT

In [121]:
for i,j in stock_prices:
    print(j)

200
400
100

In [123]:
for i,j in stock_prices:
    print(j+(0.05*j))

210.0
420.0
105.0

In [124]:
work_hours = [("Aman",1000),("Grusha",400),("Deepak",800)]

In [132]:
def employee_check(work_hours):
    
    max_hrs_worked = 0
    employee_of_month = ' '
    
    for name,hour in work_hours: # tuple unpacking
        if hour > max_hrs_worked:
            max_hrs_worked = hour
            employee_of_month = name
        else:
            pass
    return (employee_of_month, max_hrs_worked)

In [133]:
employee_check(work_hours)

('Aman', 1000)

In [134]:
name, hours = employee_check(work_hours)

In [135]:
name

'Aman'

In [136]:
hours

1000

In [166]:
# name, hours, location = employee_check(work_hours)