## Assignment

1. Write a python function that computes the square of a number. The function should return the output as a tuple in the following form: (a, a^2) where a is the input value to the function.

In [5]:
def sqr_num(num):
    return num, num**2

In [6]:
sqr_num(2)

(2, 4)

2. Write a function that can accept two strings as input and concatenate them and then print it as an output.

In [10]:
def myfunc():
    str1 = input("First Name: ")
    str2 = input("Last Name: ")
    return str1 + " " + str2

In [11]:
myfunc()

First Name: Aman
Last Name: Khadka

'Aman Khadka'

3. Write a function that can accept an integer number as an input and print "Even number" if the number is even, otherwise print "Odd number".

In [12]:
def myfunc():
    num = int(input("Enter any number: "))
    if num%2==0:
        print("Even Number")
    else:
        print("Odd Number")

In [15]:
myfunc()

Enter any number: 9
Odd Number

4. Write a function that can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [24]:
def myfunc():
    mydict = { }
    for i in range(1,21):
        mydict[i]=i**2
    print(mydict)

In [25]:
myfunc()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

5. Write a function to compute the square-root of a given number. If the given number is negative, your function should give an error message.

In [32]:
import math
def myfunc(num):
    if num >= 0:
        return math.sqrt(num)
    else:
        pass
    return "Can't be negative"

In [33]:
myfunc(3)

1.7320508075688772

6. Write a function to input two separate lists, one with names (name_list) and another with numbers (number_list). Your function should then output another list (output_list) which contains tuples of names and number.

In [38]:
def myfunc():
    name_list = ["Dan Mace", "Connor Meyer", "Adam Smith", "John Watson"]
    number_list = [98980000, 777890879, 123087699, 960008779]
    return list(zip(name_list, number_list))

In [39]:
myfunc()

[('Dan Mace', 98980000),
 ('Connor Meyer', 777890879),
 ('Adam Smith', 123087699),
 ('John Watson', 960008779)]

7. With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in another line.

In [40]:
mytuple = (1,2,3,4,5,6,7,8,9,10)
midpoint = int(len(mytuple)/2)
print("{}\n{}".format(mytuple[:midpoint],mytuple[midpoint:]))

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

8. Write a function that takes in a list of usernames of students. The function should then output another list which returns the email addresses by adding @thebritishcollege.edu.np‚Äù to the usernames in the list. The output of your function should be a list.

In [42]:
def out_email(usernames):
    out_list = []
    for n in usernames:
        out_list.append(str(n)+"@thebritishcollege.edu.np")
    return out_list

In [43]:
student_username = ["ksmith", "rsouza", "lgarber", "aghods", "shassan", "proy"]
out_email(student_username)

['ksmith@thebritishcollege.edu.np',
 'rsouza@thebritishcollege.edu.np',
 'lgarber@thebritishcollege.edu.np',
 'aghods@thebritishcollege.edu.np',
 'shassan@thebritishcollege.edu.np',
 'proy@thebritishcollege.edu.np']

9. In the list given below, use a while loop to print the output. Your loop should run until all the items in the list have been printed.

In [45]:
name_list = [('Dan Mace', 98980000), ('Connor Meyer', 777890879), ('Adam Smith', 123087699), ('John Watson', 960008779)]

In [46]:
i = 0
while i < len(name_list):
    print("Name: ", name_list[i][0])
    print("Contact no: ", name_list[i][1])
    i = i + 1

Name:  Dan Mace
Contact no:  98980000
Name:  Connor Meyer
Contact no:  777890879
Name:  Adam Smith
Contact no:  123087699
Name:  John Watson
Contact no:  960008779

10. Write a function that accepts a list of tuples as an input, and outputs the values as a dictionary shown below:

In [50]:
def tuple_to_dict(inList):
    out_d = {}
    for i,j in inList:
        out_d[i] = j
    return out_d

In [51]:
input_list = [ ("Dan Mace", 98980000), ("Connor Meyer", 777890879), ("Adam Smith", 123087699), ("John Watson", 960008779)]
tuple_to_dict(input_list)

{'Dan Mace': 98980000,
 'Connor Meyer': 777890879,
 'Adam Smith': 123087699,
 'John Watson': 960008779}

11. Write a function to go through a string and count the number of words in the given string.

In [52]:
def count_words(s):
    word_list = s.split(" ")
    return("number of words: {}".format(len(word_list)))

In [53]:
input_str = "If you count the words in this sentence you will get twelve"
count_words(input_str)

'number of words: 12'

12. Write a function to print Fibonacci sequence up-to the given term.

In [55]:
def fibonacci(N):
    x = 1
    y = 1
    print (1)
    for i in range(N-1):
        x,y = y,x+y
        print (x)
# test
fibonacci(7)

1
1
2
3
5
8
13

13. Write a program to play a game of rock, paper and scissor between two players. Take two user inputs from the keyboard and according to user's choice decide who wins.

In [56]:
userA_choice = input("User 1, please choose between 'ROCK', 'PAPER', and 'SCISSOR': ")
userB_choice = input("User 2, please choose between 'ROCK', 'PAPER', and 'SCISSOR': ")
choices = ["rock", "paper", "scissor"]
if userA_choice.lower() in choices and userB_choice.lower() in choices:
    if userA_choice.lower() == userB_choice.lower():
        print("It is a tie! Please play again!")
    elif userA_choice.lower() == "rock":
        if userB_choice.lower() == "scissor":
            print("User 1 wins!")
        else:
            print("User 2 wins!")
    elif userA_choice.lower() == "paper":
        if userB_choice.lower() == "scissor":
            print("User 2 wins!")
        else:
            print("User 1 wins!")
    elif userA_choice.lower() == "scissor":
        if userB_choice.lower() == "rock":
            print("User 2 wins!")
        else:
            print("User 1 wins!")
    else:
        print("Unrecognized Input!")

User 1, please choose between 'ROCK', 'PAPER', and 'SCISSOR': rock
User 2, please choose between 'ROCK', 'PAPER', and 'SCISSOR': paper
User 2 wins!

14. Write a Python program to construct the following pattern.

In [57]:
num = 1
for i in range(1,10):
    for j in range(1,i+1):
        print(num, end = " ")
    print("\n")
    num = num + 1

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

15. Write a Python function that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [60]:
def sort_words(word):
    wordlist = word.split("-")
    return "-".join(sorted(wordlist))

In [61]:
sort_words("s-i-t-c-o-m")

'c-i-m-o-s-t'