# Tuples

- similar to list
- but tuple uses ( ) paranthesis and commas to separate object in the list ( 1,2 )
- once an element is inside tuple, it can't be reassigned
- it supports indexing, slicing, also can be nested
- unlike list, tutple are immutable

In [9]:
my_tup = (1,2,3)

In [13]:
type(my_tup)

tuple

In [19]:
# multiple data type
t = ('one',2,2.33)

In [20]:
# indexing
t[0]

'one'

In [22]:
# negative indexing
t[-1]

2.33

In [23]:
# slicing
t[1:]

(2, 2.33)

In [28]:
# negative slicing
t[::-1]

(2.33, 2, 'one')

### Basic Typle Methods

Tuples have built-in methods, but not as many as lists do. Let's have a look

In [38]:
t = (1,1,2,3,4,5,6,1,2,3)

In [39]:
t

(1, 1, 2, 3, 4, 5, 6, 1, 2, 3)

In [41]:
# Return occurance of value
t.count(1)

3

In [45]:
# Shows which index the value lies
t.index(2)

2

### Immutability

In [46]:
t

(1, 1, 2, 3, 4, 5, 6, 1, 2, 3)

In [48]:
t[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [50]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

### Why we use tuple ?

- data integrity
- If in our program we are passing around an object and need to make sure it does not get changed, then tuple becomes our solution.