# Lambda Expressions, Map, and Filter

## map function

The **map** function accepts another function and a sequence of `iterables` as parameters and provides output after applying the function to each iterable in the sequence.

    map(function,iter)

In [1]:
def square(num):
    return num**2

In [2]:
my_num = [1,2,3,4]

In [5]:
map(square,my_num)

In [19]:
# To get the results, either iterate through map() 
# or just cast to a list
for item in map(square,my_num):
    print(item)

1
4
9
16

In [22]:
list(map(square,my_num))

[1, 4, 9, 16]

The function can also be more complex

In [11]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'even'
    else:
        return mystring[0]

In [23]:
mynames = ["Aman","Grusha","Khadka","Bhattarai"]

In [24]:
list(map(splicer,mynames))

['even', 'even', 'even', 'B']

## filter function

The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

In [25]:
def check_even(num):
    return num % 2 == 0

In [26]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [29]:
filter(check_even,nums)

In [36]:
for i in filter(check_even,nums):
    print(i)

0
2
4
6
8
10

In [37]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

## lambda expression

Lambda functions are anonumous function means that the function is without a name.

**lambda's body is a single expression, not a block of statements.**

Lets slowly break down a lambda expression by deconstructing a function:

In [38]:
def square(num):
    result  = num ** 2
    return result

In [39]:
square(9)

81

We could simplify it:

In [50]:
def square(num):
    return num ** 2

In [51]:
square(9)

81

We could actually even write this all on one line

In [52]:
def square(num): return num ** 2

In [53]:
square(9)

81

This is the form of function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [46]:
lambda num: num ** 2

In [54]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num ** 2

In [48]:
square(9)

81

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [56]:
my_lst = [1,2,3,4,5]

In [57]:
map(lambda num: num ** 2,my_lst)

In [60]:
list(map(lambda num: num ** 2,my_lst))

[1, 4, 9, 16, 25]

In [63]:
list(filter(lambda num: num % 2 == 0,my_lst))

[2, 4]

In [73]:
mynames = ["Aman","Grusha","Khadka","Bhattarai"]

In [74]:
list(map(lambda s:s[0],mynames))

['A', 'G', 'K', 'B']

In [75]:
list(map(lambda s:s[::-1],mynames))

['namA', 'ahsurG', 'akdahK', 'iarattahB']

**Lambda expression for grabbing the first character of a string:**

In [67]:
lambda n:n[0]

**Lambda expression for reversing string:**

In [68]:
lambda n:n[::-1]

**We can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every funtion can be translated into a lamda expression**

In [69]:
lambda x,y : x + y

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.