# Sets and Boolean

There are two other object types in Python:
- Sets
- Booleans

# Sets

- sets are unordered collections of <b>unique elements<b>
- it doesn't supports indexing, slicing and also can be nested
- like lists, dictionary ; sets are mutable
- syntax : { 1,2 }

In [10]:
x = set()

In [11]:
x.add(1)

In [12]:
x

{1}

In [13]:
type(x)

set

Note that the curly brackets doesn't indicate a dictionary.

In [23]:
# Add a different element
x.add(3)

In [20]:
x

{1, 3}

In [31]:
# Try to add the same element
x.add(1)

In [32]:
x

{1, 3}

In [34]:
#  Notice how it won't place another 1 there. That's because a set is only concerned with unique elements
list1 = [1,2,3,4,5,6,1,1,1,2,3]

In [35]:
list1

[1, 2, 3, 4, 5, 6, 1, 1, 1, 2, 3]

In [37]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

# Booleans

- True or False
- It also has a placeholder object called None

In [43]:
# Set object to be a boolean
a = True

In [44]:
a

True

In [45]:
# We can also do comparision
1 > 2

False

In [47]:
# None placeholder
b = None

In [50]:
# Doesn't print because it has null value
b

In [51]:
print(b)

None