# Important Points About Lists in Python:

## Mutability:

Lists are mutable, meaning you can modify their elements after creation. You can change, add, or remove elements.

## Ordered Sequence:

Lists maintain the order of elements. The position of each element is determined by its index, starting from 0.

## Indexing and Slicing:

Just like strings, you can access elements using indexing and retrieve subsets of the list using slicing (list[start:end:step]).

## Heterogeneous Elements:

Lists can contain elements of different data types, such as integers, floats, strings, and even other lists (nested lists).

## Dynamic Size:

Lists can grow and shrink in size as you add or remove elements.

## List Methods:

Python provides various built-in methods to manipulate lists, such as append(), extend(), insert(), remove(), pop(), clear(), index(), count(), sort(), reverse(), and more.

## List Comprehension:

List comprehensions offer a concise way to create lists based on existing lists or other iterables. The syntax is [expression for item in iterable if condition].

## Nested Lists:

Lists can contain other lists as elements, allowing for the creation of multi-dimensional lists (e.g., matrices).

## Iteration:

You can iterate over the elements of a list using loops, such as for and while loops.

## Copying Lists:

Copying a list using = creates a reference to the original list. To create a true copy, you can use the copy() method or slicing.

## List Operations:

Lists support operations like concatenation (+), repetition (*), and membership testing (in and not in).

## Length of List:

Use the len() function to find the number of elements in a list.

<h1 style="color:red;">Basic List Operations</h1>

## Creating and Modifying Lists:

```markdown
Create a list called colors containing "red", "green", and "blue". Then:
Add "yellow" to the end of the list.
Insert "orange" at the second position.
Replace the last color in the list with "purple".
```

In [10]:
colors = ["red", "green", "blue"]
colors.append("yellow")
print(colors)

['red', 'green', 'blue', 'yellow']

In [12]:
colors = ["red", "green", "blue"]
colors.insert(1,"orange")
print(colors)

['red', 'orange', 'green', 'blue']

In [15]:
colors = ["red", "green", "blue"]
colors.pop()
colors.append("purple")
colors

['red', 'green', 'purple']

In [22]:
colors = ["red", "green", "blue"]

def add_yellow():
    colors.append("yellow")
    print(colors)

def insert_orange():
    colors.insert(1, "orange")
    print(colors)
    

def replace_last():
    colors[-1] = "purple"
    print(colors)

In [23]:
add_yellow()

['red', 'green', 'blue', 'yellow']

In [24]:
insert_orange()

['red', 'orange', 'green', 'blue', 'yellow']

In [25]:
replace_last()

['red', 'orange', 'green', 'blue', 'purple']

## Indexing and Slicing:

```markdown
Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], perform the following:
Retrieve the first and last elements.
Slice the list to get [4, 5, 6].
Reverse the entire list using slicing.
```

In [34]:
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(f"First Element: {list_numbers[0]}")
print(f"Last Element: {list_numbers[-1]}")

print(f"Result of Slicing : {list_numbers[3:6:1]}")
print(f"Result of Reversing : {list_numbers[-1::-1]}")

First Element: 1
Last Element: 10
Result of Slicing : [4, 5, 6]
Result of Reversing : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## List Methods:

```markdown
Start with the list animals = ["cat", "dog", "rabbit", "parrot"] and:
Append "hamster" to the list.
Remove "rabbit" from the list.
Sort the list alphabetically.
Find the index of "dog" in the list.
```

In [36]:
animals = ["cat", "dog", "rabbit", "parrot"]
animals.append("hamster")
animals

['cat', 'dog', 'rabbit', 'parrot', 'hamster']

In [37]:
animals = ["cat", "dog", "rabbit", "parrot"]
animals.remove("rabbit")
animals

['cat', 'dog', 'parrot']

In [38]:
animals = ["cat", "dog", "rabbit", "parrot"]
animals.sort()
animals

['cat', 'dog', 'parrot', 'rabbit']

In [43]:
animals = ["cat", "dog", "rabbit", "parrot"]
returned_value = animals.index("dog")
print(f"Index of dog is {returned_value}")

Index of dog is 1

## List Concatenation and Repetition:

```markdown
Concatenate the lists [1, 2, 3] and [4, 5, 6].
Repeat the list ['a', 'b', 'c'] three times.
```

In [52]:
list_one = [1,2,3]
list_two = [4,5,6]
list_char = ['a','b','c']

conc_list = list_one + list_two
print("Concatinated list : {}".format(conc_list))

print("Repeating the list 3 times: {}".format(list_char * 3))

Concatinated list : [1, 2, 3, 4, 5, 6]
Repeating the list 3 times: ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

<h2 style="color: red;"> Finding the Length of a List:</h2>

```markdown
Write a function to count the number of elements in the list ['apple', 'banana', 'cherry', 'date', 'fig', 'grape'].
```

In [75]:
fruits = ['apple', 'banana', 'cherry', 'date', 'fig', 'grape']

def count_element():
    count = 0
    for fruit in fruits:
        count += 1
    print(f"The number of element in the list is : {count}")
    
count_element()

The number of element in the list is : 6

<h1 style="color:red;">Intermediate List Operations</h1>

<h2 style="color: red;"> List Comprehension: </h2>

```markdown
Create a list of the squares of numbers from 1 to 10 using a list comprehension.
Generate a list of odd numbers between 1 and 20 using list comprehension.
```

In [88]:
## Without list comprehension

list = []

for num in range(1,11,1):
    print(num, end = " ")
    print(f"Square number: {num**2}")
    list.append(num**2)

print(list)

1 Square number: 1
2 Square number: 4
3 Square number: 9
4 Square number: 16
5 Square number: 25
6 Square number: 36
7 Square number: 49
8 Square number: 64
9 Square number: 81
10 Square number: 100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [97]:
## Without list comprehension

list = []

for num in range(1,21,1):
    if num % 2 != 0:
        list.append(num)

print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [101]:
## List comprehension for question 1

[ num**2 for num in range(1,11,1) ] # It combines the creation of the list and the operation to compute the squares into a single line.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
## List comprehension for question 2

[ num for num in range(1,21,1) if num % 2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

<h2 style="color:red;">Nested Lists:</h2>

```markdown
Given the nested list matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], do the following:
Access the element at the second row, third column.
Change the element at the first row, second column to 10.
Flatten the nested list [[1, 2, 3], [4, 5], [6, 7, 8, 9]] into a single list.
```

In [105]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [106]:
# Access the element at the second row, third column.

print(matrix[1][2])

6

In [108]:
# Change the element at the first row, second column to 10.

matrix[0][1] = 10
print(matrix)

[[1, 10, 3], [4, 5, 6], [7, 8, 9]]

In [141]:
# Flatten the nested list [[1, 2, 3], [4, 5], [6, 7, 8, 9]] into a single list.

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = []

for sublist in matrix:
    # print(sublist)
    for deeper_list in sublist:
        # print(deeper_list)
        flattened_list.append(deeper_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## List Iteration:

```markdown
Iterate over the list fruits = ["apple", "banana", "cherry"] and print each fruit in uppercase.
Write a program to find and print all the elements in the list numbers = [1, 4, 9, 16, 25, 36] that are greater than 10.
```

In [152]:
fruits = ["apple", "banana", "cherry"]
new_list = []

for fruit in fruits:
    # print(fruit.upper())
    new_list.append(fruit.upper())

print(new_list)

['APPLE', 'BANANA', 'CHERRY']

In [153]:
# List comprehension

fruits = ["apple", "banana", "cherry"]

[ fruit.upper() for fruit in fruits ]

['APPLE', 'BANANA', 'CHERRY']

## List Copying:

```markdown
Create a list original = [10, 20, 30] and make a copy using slicing. Modify the original list and verify if the copied list remains unchanged.
Use the copy() method to copy the list and verify it behaves the same way as slicing.
```

In [165]:
# using slicing

original = [10, 20, 30]
new_original = original[0:]

## modifying original list
original.append(40)
print(original)

# verify if the copied list remains unchanged
print(new_original)

[10, 20, 30, 40]
[10, 20, 30]

In [166]:
# using copy()

original = [10, 20, 30]
# new_original = original
new_original = original.copy()

## modifying original list
original.append(40)
print(original)

# verify if the copied list remains unchanged
print(new_original)

[10, 20, 30, 40]
[10, 20, 30]


## Membership Testing:

```markdown
Check if the number 7 is present in the list [3, 5, 7, 9, 11].
Write a program to find out if the string "orange" is not in the list ["apple", "banana", "cherry"].
```

In [173]:
my_list = [3, 5, 7, 9, 11]

for num in my_list:
    if num == 7:
        print("Seven is present in the list")

Seven is present in the list

In [174]:
my_list = [3, 5, 7, 9, 11]

for num in my_list:
    if num != 7:
        continue
    else:
        print("Seven is present in the list")

Seven is present in the list

<h1 style="color:red;">Advanced List Operations</h1>

## Sorting and Reversing:

```markdown
Sort the list prices = [50, 25, 75, 100, 10] in ascending and descending order.
Reverse the list letters = ['a', 'b', 'c', 'd', 'e'].
```

In [183]:
prices = [50, 25, 75, 100, 10]
prices.sort()
print(f"Ascending List: {prices}")
prices.reverse()
print(f"Descending List: {prices}")

Ascending List: [10, 25, 50, 75, 100]
Descending List: [100, 75, 50, 25, 10]

In [186]:
# or for descending we can add parameters in sort method.
prices = [50, 25, 75, 100, 10]
prices.sort()
print(f"Ascending List: {prices}")

prices = [50, 25, 75, 100, 10]
prices.sort(reverse=True)
print(f"Descending List: {prices}")

Ascending List: [10, 25, 50, 75, 100]
Descending List: [100, 75, 50, 25, 10]

In [184]:
letters = ['a', 'b', 'c', 'd', 'e']
letters.reverse()
print(letters)

['e', 'd', 'c', 'b', 'a']


## List of Lists:

```markdown
Create a list of lists where each inner list contains the name, age, and profession of a person. Write a program to access the age of the third person in the list.
```

In [188]:
my_list = [["Aman",21,"Student"],["Grusha",22,"Data Scrientist"],["Piyush",23,"Engineer"]]
third_age = my_list[2][1]
print(f"Age of third person i.e {my_list[2][0]} is {third_age}")

Age of third person i.e Piyush is 23


## Finding the Maximum and Minimum:

```markdown
Write a function to find the maximum and minimum values in the list [23, 45, 12, 78, 56, 89].
```

In [193]:
def max_min():
    my_list = [23, 45, 12, 78, 56, 89]
    my_list.sort(reverse=True)
    print(f"The max number is {my_list[0]}")
    print(f"The min number is {my_list[-1]}")

max_min()

The max number is 89
The min number is 12

In [194]:
# built-in functions

def max_min():
    my_list = [23, 45, 12, 78, 56, 89]
    max_number = max(my_list)
    min_number = min(my_list)
    print(f"The max number is {max_number}")
    print(f"The min number is {min_number}")

max_min()

The max number is 89
The min number is 12

## List Insertion:

```markdown
Given the list countries = ["USA", "Canada", "Australia"], insert "UK" at the second position.
```

In [197]:
countries = ["USA", "Canada", "Australia"]

countries.insert(1, "UK")

print(countries)

['USA', 'UK', 'Canada', 'Australia']


## List Counting:

```markdown
Count how many times the letter "a" appears in the list letters = ['a', 'b', 'c', 'a', 'd', 'a'].
```

In [198]:
letters = ['a', 'b', 'c', 'a', 'd', 'a']

letters.count('a')

3


<h2 style="color:red;"> Removing Duplicates: </h2>

```markdown
Write a program to remove all duplicates from the list [1, 2, 2, 3, 4, 4, 5, 6, 6].
```

In [217]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

for number in numbers:
    # print(number)
    if number in numbers:
        if numbers.count(number) > 1:
            numbers.remove(number)
    #     else:
    #         pass
    # else:
    #     pass

print(numbers)

[1, 2, 3, 4, 5, 6]


## List Merging:

```markdown
Merge two lists [1, 3, 5] and [2, 4, 6] into a single sorted list.
```

In [223]:
list_one = [1,3,5]
list_two = [2,4,6]

merged_list = list_one + list_two
print(f"Unsorted merged list {merged_list}")

merged_list.sort()
print(f"Sorted merged list {merged_list}")

Unsorted merged list [1, 3, 5, 2, 4, 6]
Sorted merged list [1, 2, 3, 4, 5, 6]


## Sum of List Elements:

```markdown
Write a function to calculate the sum of all elements in the list [10, 20, 30, 40, 50].
```

In [228]:
def sum_list(my_list):
    print(my_list)
    my_sum = sum(my_list)
    print(f"Sum is: {my_sum}")

sum_list([10,20,30,40,50])

[10, 20, 30, 40, 50]
Sum is: 150

In [230]:
# without using functions

def sum_list(my_list):
    sumed = 0
    for num in my_list:
        sumed = sumed + num
    print(f"Sum is: {sumed}")
    
sum_list([10,20,30,40,50])

Sum is: 150


<h2 style="color: red;"> Splitting a List:</h2>

```markdown
Split the list data = [1, 2, 3, 4, 5, 6, 7, 8] into two lists: one with the first half of the elements and one with the second half.
```

In [260]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
copied_data = data.copy()

n = 4

first_split = copied_data[:n:1]
print(first_split)
second_split = copied_data[n::]
print(second_split)

[1, 2, 3, 4]
[5, 6, 7, 8]

In [261]:
# if data is large it will be difficult to manually find value of n ,so lets find midpoint

data = [1, 2, 3, 4, 5, 6, 7, 8]
copied_data = data.copy()

# finding midpoint
n = len(data) // 2
print(n)

first_split = copied_data[:n:1]
print(first_split)
second_split = copied_data[n::]
print(second_split)

4
[1, 2, 3, 4]
[5, 6, 7, 8]


## Nested List Operations:

```markdown
Create a 3x3 matrix using nested lists and write a program to calculate the sum of all elements in the matrix.
```

In [269]:
matrix = [[1,2,3],[1,2,3],[1,2,3]]
my_sum = 0

for mat in matrix:
    # print(mat)
    for m in mat:
        # print(m)
        my_sum = my_sum + m
print(f"The sum of all elements in the matrix: {my_sum}")

The sum of all elements in the matrix: 18