# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category.

## range

The range function allows you to quickly generate a list of integers. There are 3 parameters you pass:<br>
<code>range(start,stop,step)</code>

In [2]:
range(0,10)

range(0, 10)

Note that this is a <b>generator</b> function. It is a special type of function which does not return a single value, instead, it returns an iterator object with a sequence of values

In [6]:
# Notice how 10 is not included, up to but not including 10, just like in slicing!
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
tuple(range(0,10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
# Third parameter is step size!

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [11]:
for i in range(0,11):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

## enumerate

Emumerate is a very useful function to use with for loops.

In [38]:
enumerate('abcde')

In [37]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [15]:
initial_index = 0
for letter in 'aman':
    print("At index {} the letter is {}".format(initial_index,letter))
    initial_index += 1

At index 0 the letter is a
At index 1 the letter is m
At index 2 the letter is a
At index 3 the letter is n

In [21]:
initial_index = 0
word = "aman"
for i in word:
    print(word[initial_index])
    initial_index += 1

a
m
a
n

In [23]:
word = "aman"
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'm')
(2, 'a')
(3, 'n')

In [27]:
# Now notice tuple unpacking
word = "aman"
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
m


2
a


3
n

In [31]:
for i,j in enumerate('aman'):
    print("At index {} the letter is {}".format(i,j))

At index 0 the letter is a
At index 1 the letter is m
At index 2 the letter is a
At index 3 the letter is n

## zip

This function quickly create a list of tuples by "zipping" up together two lists

In [40]:
mylist1 = [1,2,3,4,5]
mylist2 = ["a","b","c","d","e"]

In [41]:
zip(mylist1,mylist2)

In [50]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [52]:
dict(zip(mylist1,mylist2))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [43]:
for i in zip(mylist1,mylist2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [44]:
for i,j in zip(mylist1,mylist2):
    print(i)

1
2
3
4
5

In [45]:
for i,j in zip(mylist1,mylist2):
    print(j)

a
b
c
d
e

In [46]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = ['a','b','c']
list3 = [100,200,300]

for a,b,c in zip(list1,list2,list3):
    print(a)
    print(b)
    print(c)
    print("\n")

1
a
100


2
b
200


3
c
300

## in operator

We've already seen <code>in</code> keyword during the for loop, but we can also use it to quickly check if an object is in a list

In [53]:
'x' in ['x','y','z']

True

In [55]:
1 in ['x','y','z']

False

In [56]:
'a' in "Aman Khadka"

True

In [57]:
'mykey' in {'mykey':1234}

True

In [60]:
1234 in {'mykey':1234}

False

In [64]:
d = {'mykey':365}

365 in d.values()

True

In [65]:
d = {'mykey':365}

365 in d.keys()

False

## not in

We can combine **in** with a **not** operator, to check if some object or variable is not present in a list.

In [67]:
'x' not in ['x','y','z']

False

In [68]:
'x' not in [1,2,3]

True

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [69]:
mylist = [10,20,30,40,100]

In [70]:
min(mylist)

10

In [71]:
max(mylist)

100

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [78]:
mylist = [10,20,30,40,100]

In [79]:
from random import shuffle

In [80]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
a = shuffle(mylist)

In [82]:
type(a)

NoneType

In [83]:
mylist

[10, 30, 100, 40, 20]

In [84]:
from random import randint

In [92]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

49

In [93]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

7

In [94]:
mynum = randint(0,100)

In [96]:
type(mynum)

int

In [97]:
mynum

51

## input function

In [100]:
result = input("Enter any number: ")

Enter any number: 100

In [101]:
type(result)

str

In [103]:
result = int(input("Enter any number: "))

Enter any number: 1

In [104]:
type(result)

int

In [105]:
result = input("Enter any number: ")

Enter any number: 1

In [107]:
a = int(result)

In [108]:
type(a)

int